.medications-wrapper {
  height: calc(100vh - 86px);
  width: 100vw;
  color: #0f0f0f;
  .invite-caregiver-wrapper {
    padding-left: 150px;
    padding-top: 20px;
    .invite-btn {
      border: none;
      padding: 10px 15px;
      font-family: "Poppins";
      background-color: #0f0f0f;
      border-radius: 5px;
      font-size: 12px;
      transition: all 0.2s ease-in-out;
      &:hover {
        cursor: pointer;
        background-color: #474747;
      }
    }
  }

  .medications-txt-wrapper {
    padding-left: 150px;
    padding-top: 30px;
    .medications-title {
      font-weight: 500;
      font-size: 32px;
      letter-spacing: -1.5px;
    }
    .medications-sub {
      letter-spacing: -0.5px;
      font-size: 14px;
    }
  }

  .medications-table-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 150px;
    padding-right: 150px;

    .table-header {
      display: flex;
      width: 100%;
      justify-content: space-between;
      border-bottom: 1px solid #e2e2e2;
      padding-top: 10px;
      padding-bottom: 10px;
      .last {
        display: flex;
        justify-content: right;
      }
      .table-heading {
        text-align: left;
        color: #909090;
        font-weight: 500;
        font-size: 14px;
        flex: 1;
      }
    }
    .table-body {
      display: flex;
      width: 100%;
      justify-content: space-between;
      flex-direction: column;
      .table-row {
        display: flex;
        width: 100%;
        height: 50px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e2e2e2;
        padding-top: 10px;
        padding-bottom: 10px;

        .table-cell {
          font-size: 14px;
          font-weight: 400;
          flex: 1;
          display: flex;
          align-items: center;
          letter-spacing: -0.5px;
        }
        .last {
          display: flex;
          justify-content: right;
        }
      }
    }

    .edit-btn {
      margin-right: 10px;
      outline: none;
      border: none;
      background-color: transparent;
      color: #0f0f0f;
      font-family: "Poppins", Arial;
      transition: all 0.12s ease-in-out;

      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }
    }
  }
  .caregivers {
    margin-top: 60px;
  }
}
