.medications-wrapper {
  height: calc(100vh - 86px);
  width: 100vw;
  color: #0f0f0f;
  .medications-txt-wrapper {
    padding-left: 150px;
    padding-top: 30px;
    .medications-title {
      font-weight: 500;
      font-size: 32px;
      letter-spacing: -1.5px;
    }
    .medications-sub {
      letter-spacing: -0.5px;
      font-size: 14px;
    }
  }

  .medications-table-container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    .medications-table {
      width: 70%;
      .medications-table-head {
        .medications-table-row {
          .med-header {
            border-bottom: 1px solid #e2e2e2;
          }
        }
        tr {
          height: 50px;
          border: 1px solid #555555;
        }
      }
      .med-header {
        text-align: left;
        color: #909090;
        font-weight: 500;
        font-size: 14px;
      }
      tbody {
        .medications-table-row {
          display: flex;
          align-items: center;
          height: 35px;
          .space {
            flex: 1;
          }
          td {
            font-weight: 500;
            font-size: 14px;
            border-bottom: 1px solid #e2e2e2;
          }
          .edit-btn {
            margin-right: 10px;
            outline: none;
            border: none;
            background-color: transparent;
            color: #0f0f0f;
            font-family: "Poppins", Arial;
            transition: all 0.12s ease-in-out;

            &:hover {
              cursor: pointer;
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
}
